h1, h2, h3, h4, h5 {
  color: #002a44;
}

h5, #content p {
  font-size: 1.25rem;
  line-height: 1.5;
}

ul {
  margin-left: 30px;
}

ul li {
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 300 !important;
  font-size: 18px;
  color: #002a44;
}

.list-group-item {
  background-color: transparent;
  border: none;
  text-align: right;
  font-size: 1.2rem;
}

.list-group-item::after {
  content: " >>";
}

.page-section {
  padding: 80px 0;
}

thead tr th {
  border: none;
}

.bg-lt {
  background: #fcfcfc;
}

.owl-item.center {
  text-align: left !important;
}

.services-carousel .owl-item {
  opacity: 0.25;
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
  transition: all 0.5s linear;
}

.services-carousel .owl-item.active.center {
  opacity: 1;
  -webkit-transform: scale(1);
          transform: scale(1);
}